#review .slick-arrow{
   visibility: hidden;
}
#review .slick-next {
   right: 1%;
   background: #000;
   display: none;
}
#review .slick-prev {
   left: 1%;
   z-index: 1111;
   background: #000;
   display: none;
}
#review .slick-center{
   background-color: #fb5200 !important;
}