#review .slick-arrow{
   visibility: hidden;
}
#review .slick-next {
   right: 1%;
   background: #000;
   display: none;
}
#review .slick-prev {
   left: 1%;
   z-index: 1111;
   background: #000;
   display: none;
}
#review .slick-center{
   background-color: #fb5200 !important;
}
#review .slick-dots
{
    position: absolute;
    bottom: 0%;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
#review .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #000000ab;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#review .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: white;
}